USE [master]
GO
/****** Object:  Database [SEP]    Script Date: 13/05/2019 16:02:16 ******/
CREATE DATABASE [SEP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SEP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SEP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SEP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SEP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SEP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SEP]
GO
/****** Object:  Table [dbo].[Readings]    Script Date: 13/05/2019 16:02:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Readings](
	[PlantID] [int] NULL,
	[PlantName] [char](25) NULL,
	[Temperature] [float] NULL,
	[Light] [int] NULL,
	[CO2] [float] NULL,
	[Humidity] [float] NULL,
	[AmountOfWater] [float] NULL,
	[HoursSinceWatering] [float] NULL,
	[ReadingDate] [datetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
